
$footer:#07616d;
$contraste:#2F5586;
$black:#000;
$contraste-transp: rgba($black, 0.5);
$complement:#B7BBC6;
$complement-transparent: rgba($complement, 0.5);
$primary: #353A40;
$white:#f1f4f8;;
$green:#08b14e;;
$red:#ca3a3a;;

